
    body{
        padding: 5%;
    }
    #container {
        background-image: url(./chemistry.avif);
        height: 30vh;
        padding: 10% 20%;
        text-align: center;
        
    }

    h1 {
        text-align: center;
        background-color: rgb(44, 44, 218);
        color: white;
        padding: 10px;
        margin: 0px;
        border: 2px solid black;
    }

    .input-div {
        display: inline-block;
    }

    .inp {

        padding: 5px 10px;
        margin: 20px;
        font-size: 30px;
        font-weight: bold;
        width: 250px;
        box-shadow: 5px 5px 10px rgb(242, 242, 248);

    }
   
    label {
        /* text-align: center; */
        color: rgb(238, 238, 240);
        font-size: 30px;
    }
